<!-- _includes/header.html -->
<header class="site-header" role="banner">
  <div class="wrapper">
    <nav class="site-nav site-nav--center" role="navigation" aria-label="Main Navigation">
      <a class="page-link" href="{{ '/' | relative_url }}#top">Home</a>
      <a class="page-link" href="{{ '/' | relative_url }}#projects">Projects</a>
      <a class="page-link" href="{{ '/' | relative_url }}#resume">CV</a>
      <a class="page-link" href="{{ '/' | relative_url }}#contact">Contact</a>
    </nav>
  </div>
</header>
